body {
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
}

h1 {
    margin-bottom: 15px
}

h2 {
    margin-bottom: 10px;
}

.entry {
    text-align: center;
    margin: 0px auto;
}

.main {
    margin-right: 315px;
    padding-right: 10px;
}

.desc {
    font-style: italic; 
}

.ref {
    font-style: italic; 
    color: #333333;
    font-size: 80%;
}

.sidebar {
    float: right;
    width: 300px;
}

.post {
    margin-bottom: 20px;
}

.reply {
    margin-top: 15px;
    margin-left: 15px;
}

.login {
    margin: 0px auto;
    text-align: left;
}

#container {
    width: 800px;
    margin: 10px auto;
}

#name {
    margin-bottom: 20px;
    text-align: center;
}

#description{
    margin-bottom: 40px;
    text-align: center;
}

#bio{
    margin-bottom: 40px;
}

* {
    margin: 0;
    padding: 0;
}
